
.form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 1.8rem;
  margin-bottom: 0.3rem;

  .inpt, .btn, .p {
    font-family: $regular-font
  }

  .inpt, .btn {
    // background-color: $second-color;
    border: 0.1rem solid $third-color;
    border-radius: 3px;
  }
  
  .inpt { 
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 0.3rem;

    &:hover {
      background-color: $second-color;
    }
    
  }
  .btn {
    grid-column-start: 3;
    grid-column-end: 4;
    cursor: pointer;

    &:hover {
      background-color: $second-color;
    }

    &:active {
      color: $second-color;
      background-color: $third-color;
    }
  }

  .p {
    grid-column-start: 5;
    grid-column-end: 7;
    align-self: center;
  }
}